<!-- Sidebar -->
<div class="sidebar" id="sidebar">
  <div class="menu-header">
    <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
    <h2>Menu</h2>
  </div>
  <ul>
    <!-- http://127.0.0.1:5500/Certificate/certificate.html -->
    <li>
      <a href="/pages/certificate.html"><i class="icon">🎓</i><span class="text"> Chứng chỉ </span></a>
    </li>
    <li>
      <a href="/pages/diploma.html"><i class="icon">📜</i><span class="text"> Văn bằng </span></a>
    </li>
    <li>
      <a href="/pages/student.html"><i class="icon">👨‍🎓</i><span class="text"> Sinh viên </span></a>
    </li>
  </ul>
  <div id="info"></div>
  <div class="wrap_logout">
    <button class="btn_logout" onclick="logout()">Đăng xuất</button>
  </div>
</div>