<!-- Sidebar -->
<div class="sidebar" id="sidebar">
  <div class="menu-header">
    <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
    <h2>Menu</h2>
  </div>
  <ul>
    <!-- http://127.0.0.1:5500/Certificate/certificate.html -->
    <li>
      <a href="/fontend_QLVBCC/pages/certificate.html"><i class="icon">🎓</i><span class="text"> Chứng chỉ </span></a>
    </li>
    <li>
      <a href="/fontend_QLVBCC/pages/diploma.html"><i class="icon">📜</i><span class="text"> Văn bằng </span></a>
    </li>
    <li>
      <a href="/fontend_QLVBCC/pages/student.html"><i class="icon">👨‍🎓</i><span class="text"> Sinh viên </span></a>
    </li>
  </ul>
  <div id="info"></div>
  <div>
    <button onclick="logout()">Đăng xuất</button>
  </div>
</div>